html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* link FONTS */

@font-face {
  font-family: "Oleo Script";
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'),
    url('../fonts/oleo-script-v8-latin-regular.woff2') format('woff2'),
    url('../fonts/oleo-script-v8-latin-regular.woff') format('woff');
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'),
    url('../fonts/pt-serif-v11-latin-italic.woff2') format('woff2'),
    url('../fonts/pt-serif-v11-latin-italic.woff') format('woff');
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff');
}



/* HEADER and NAVIGATION menu */

header nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.site-logo > a {
  font-family: 'Oleo Script';
  font-size: 26px;
  font-weight: 400;
  line-height: 41px;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #fed136;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  width: 485px;
  list-style: none;
}

.header-navigation a {
  font-family: "Montserrat";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 41px;
  color: #222222;
}

.header-navigation li:hover a {
  color: #fed136;
  transition: all 200ms linear 10ms;
}

/* Section SERVICES */

.services {
  padding-top: 58px;
  padding-bottom: 102px;
}

.section-heading {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 40px;
  line-height: 75px;
  letter-spacing: -0.025em;
  color: #222222;
  text-align: center;
}

.heading-paragraph {
  font-family: "PT Serif";
  font-size: 16px;
  line-height: 19px;
  color: #777777;
  text-align: center;
  padding-bottom: 52px;
}

.services-list li::before {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  margin: 26px auto 0;
  
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #fed136;
  border-radius: 50%;
}

.services-list li:first-child::before {
  background-image: url(../img/e-commerce.png);
}

.services-list li:nth-child(2)::before {
  background-image: url(../img/responsive-web.png);
}

.services-list li:last-child::before {
  background-image: url(../img/security.png);
}

.services-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.services-list li {
  width: 290px;
}

.services-list h3 {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 75px;
  letter-spacing: -0.025em;
  color: #222222;
  text-align: center;
}

.services-list p {
  font-family: "Roboto Slab";
  font-size: 14px;
  line-height: 24px; /* not photoshop styles (17px) */
  letter-spacing: -0.025em;
  color: #777777;
  text-align: center;
}

/* Section CONTACT US */

section.contact-us {
  width: 100%;
  height: 675px;
  background-color: #222222;
  background-image: url(../img/world-map.png);
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.contact-us .section-heading{
  padding-top: 82px;
  color: #ffffff;
}

/* Message FORM */

.message-table-form {
  border-collapse: separate;
  margin: 0 auto;
  border-spacing: 26px;
}

textarea {
  display: block;
  border: none;
  border-radius: 3px;
  padding: 16px;
  width: 455px;
  height: 210px;
  resize: none;
}

input {
  display: block;
  padding: 16px;
  width: 455px;
  border: none;
  border-radius: 3px;
}

::placeholder {
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #bbbbbb;
}

input[required]:valid,
textarea[required]:valid {
  outline: 3px solid rgb(0, 255, 0);
}

input[required]:invalid,
textarea[required]:invalid {
  outline: 3px solid rgb(255, 0, 0);
}

input[type="submit"] {
  margin: 0 auto;
  width: 240px;
  background-color: #fed136;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 0;
}
