html {
  box-sizing: border-box;
}
  
*, *::before, *::after {
  box-sizing: inherit;
}
  
* {
  margin: 0;
  padding: 0;
}
  
img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
}

/* HEADER and NAVIGATION menu */

header.container {
  font-family: "Montserrat", sans-serif;
}

.site-navigation {
  height: 92px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.site-navigation h1 {
  margin: auto 0;
}

header a {
  text-decoration: none;
  color: #95e1d3;
}

h1 > a {
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
  word-spacing: -8px;
}

.right-nav-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 490px;
}

.right-nav-menu li {
  display: inline-block;
}

.right-nav-menu li > a {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 500;
}

.right-nav-menu li > a::after {
  content: "";
  display: block;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

/* HOVER effects for HEADER */

.right-nav-menu li > a:hover {
  color: #f38181;
  transition: all 200ms linear 100ms;
}

.right-nav-menu li > a:hover::after {
  border-bottom: 3px solid #f38181;
  transition: all 200ms linear 100ms;
}

/* Section AMAZING SERVICES */

section.amazing {
  padding-top: 46px;
  padding-bottom: 50px;
}

.special-heading {
  color: #333333;
  text-align: center;
  padding-bottom: 36px;
}

.kaushan-style {
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-transform: none;
}

.special-heading span:last-child {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 16px;
}

.special-heading span:last-child::after {
  content: "";
  display: block;
  width: 60px;
  margin: 0 auto;
  padding-top: 38px;
  border-bottom: 3px solid #f38181;
}

/* Info CARDs services */

.amazing-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 380px;
  height: 110px;
  position: relative;
}

.services-list:nth-of-type(-n+3) {
  margin-bottom: 58px;
}

.services-list::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 32px;
}

ul .services-list:nth-child(1)::before {
  background-image: url(../img/icon/photography.png); 
}

ul .services-list:nth-child(2)::before {
  background-image: url(../img/icon/web-design.png); 
}

ul .services-list:nth-child(3)::before {
  background-image: url(../img/icon/creativity.png); 
}

ul .services-list:nth-child(4)::before {
  background-image: url(../img/icon/seo.png); 
}

ul .services-list:nth-child(5)::before {
  background-image: url(../img/icon/css-html.png); 
}

ul .services-list:nth-child(6)::before {
  background-image: url(../img/icon/digital.png); 
}

.services-list > h3 {
  width: 300px;
  padding-bottom: 16px;
}

.services-list h3 + p {
  width: 300px;
}

/* Section TEAM list */

section.team {
  margin-bottom: 78px;
}

.short-for-team {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 92px;
}

.info-team {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.info-team li:last-child {
  margin-right: 0;
  border-right: none;
}

.img-transformation {
  position: relative;
  background-color: #95e1d3;
  z-index: 1;
  margin-bottom: 30px;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0; left: 0; right: 0; bottom: 0;
  background-image: linear-gradient( 90deg, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.icon-block {
  display: flex;
  align-items: center;
  list-style: none;
}

.icon-block li {
  width: 55px;
  height: 55px;
  border-right: 1px solid #f38181;
}

.icon-block button {
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #fce38a;
}

.icon-block li:nth-child(1) button {
  background-image: url(../img/icon/facebook.png);
}

.icon-block li:nth-child(2) button {
  background-image: url(../img/icon/twitter.png);
}

.icon-block li:nth-child(3) button {
  background-image: url(../img/icon/pinterest.png);
}

.icon-block li:nth-child(4) button {
  background-image: url(../img/icon/instagram.png);
}

.info-team h3 {
  text-align: center;
  margin-bottom: 10px;
}

.info-team p {
  text-align: center;
  font-style: italic;
}

/* HOVER effects for cards and position */

.img-transformation:hover .overlay {
  opacity: 1;
  visibility: visible;
  transform: translate(-10px, -10px);
  transition: all 200ms linear 100ms;
}

.img-transformation:hover img {
  transform: translate(-10px, -10px);
  transition: all 200ms linear 100ms;
}

.icon-block button:hover {
  background-color: #95e1d3;
  transition: all 200ms linear 100ms;
}

/* Site Footer */

footer.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid #e5e5e5;
}

.copyrite-info {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.copyrite-info > span {
  color: #f38181;
}

form {
  border: 1px solid #e7e7e7;
}

input {
  border: none;
}

input[type="text"] {
  padding: 10px;
  width: 228px;
  height: 38px;
}

input[type="text"]::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  color: #cccccc;
}

input[type="submit"] {
  width: 144px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #95e1d3;
  color: #ffffff;
  cursor: pointer;
}


