html {
  box-sizing: border-box;
}
  
*, *::before, *::after {
  box-sizing: inherit;
}
  
* {
  margin: 0;
  padding: 0;
}
  
img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER and NAVIGATION menu */

header.container {
  font-family: "Montserrat", sans-serif;
}

.site-navigation {
  height: 92px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.site-navigation h1 {
  margin: auto 0;
}

header a {
  display: block;
  text-decoration: none;
  color: #95e1d3;
}

h1 > a {
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
  word-spacing: -8px;
}

.right-nav-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 490px;
}

.right-nav-menu li {
  display: inline-block;
}

.right-nav-menu li > a {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 500;
}

.right-nav-menu li > a::after {
  content: "";
  display: block;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

.right-nav-menu li > a:hover {
  color: #f38181;
  transition: all 200ms linear 100ms;
}

.right-nav-menu li > a:hover::after {
  border-bottom: 3px solid #f38181;
  transition: all 200ms linear 100ms;
}

