html {
  box-sizing: border-box;
}
  
*, *::before, *::after {
  box-sizing: inherit;
}
  
* {
  margin: 0;
  padding: 0;
}
  
img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* HEADER and NAVIGATION menu */

header.container {
    font-family: "Montserrat", sans-serif;  
}

header a {
    display: block;
    text-decoration: none;
    color: #95e1d3;
}

h1 > a {
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    word-spacing: -8px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 28px 0;
}

.right-nav-menu {
    display: flex;
    justify-content: space-between;
    width: 490px;
}

.right-nav-menu li {
    display: inline-block;
}

.right-nav-menu li > a {
    font-size: 14px;
    line-height: 17px;
    padding-top: 9px;
    text-transform: uppercase;
    font-weight: 500;
}