.background {
  background-image: url(../../images/background/eagle.jpg);
  background-position: center;
  background-size: cover;
  height: 1000px;
  font-family: $montserrat-font;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .background {
      background-image: url(../../images/background/eagle@2x.jpg);
    }
  }
}

