html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}
  
* {
    margin: 0;
    padding: 0;
}
  
img {
    display: block; 
    max-width: 100%; 
    height: auto;
}
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
  /* Header and NAVIGATION menu */
  
  .container {
    width: 1110px;
    margin: 0 auto;
  }
  
  header nav {
    padding: 30px 0;
  }
  
  .site-logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #555252;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .site-logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
  }
  
  .site-navigation {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    float: right;
  }
  
  .site-navigation li {
    float: left;
    margin: auto 0;
  }
  
  .site-navigation li:not(:last-child) {
    margin-right: 34px;
  }
  
  .site-navigation a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #0f0101;
    line-height: 11px;
    letter-spacing: -0.02em;
    text-decoration: none;
  }
  
  .site-navigation a:hover,
  .site-navigation a:focus {
    color: #1abc9c;
  }

  /* aside block */

aside {
    position: relative;
}

aside .background {
    width: 100%;
}

.aside-container {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 2, 0.52);
    z-index: 2;
}

.angle-nav {
    list-style: none;
}

.angle-nav li {
    display: inline-block;
    background-color: rgba(78, 198, 171, 0.65);
}

.angle-nav li:hover {
    background-color: rgba(78, 198, 171, 1);
}

.angle-nav li:first-child { 
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.angle-nav li:last-child {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
} 

.h2-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.h2-container h2 {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 82px;
    letter-spacing: -0.02em;
  }
  
  .h2-container p {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 54px;
    letter-spacing: -0.02em;
  }
  
