html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display", serif;
}

/* The header and navigation menu */

.container {
    width: 900px;
    margin: 0 auto;
}

header.container {
    height: 192px;
}

.menu {
    margin: 0;
    padding: 72px 0;
    font-size: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    width: 115px;
    text-align: center;
    margin-right: 85px;
    margin-bottom: 19px;
    line-height: 24px;
}

.menu li:last-child {
    margin-right: 0;
}

li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
}

a:hover,
a:focus {
    color:#03a9f4;
}

/* Article style */


/* article {
    display: inline-block;
    width: 420px;
    margin: 30px;
    vertical-align: top;
    line-height: 1.5;
    text-align: left;
}

article img {
    width: 420px;
    height: 280px;
}

.p-ubuntu-style {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
}

h2 {
    color: #626262;
    font-size: 30px;
    font-weight: 500;
}

.covered-image {
    width: 420px;
    height: 280px;
    background-image: url(./../img/lifestyle-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
} */

/* Buton style */

button {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #626262;
    padding: 15px 30px;
}