html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display", sans-serif;
    color: #626262;
}

/* The header and navigation menu */

.container {
    width: 900px;
    margin: 0 auto;
}

header.container {
    height: 192px;
}

.menu {
    margin: 0;
    padding: 72px 0;
    font-size: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    text-align: center;
    margin-right: 85px;
    margin-bottom: 19px;
    line-height: 24px;
}

.menu li:last-child {
    margin-right: 0;
}

li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
}

a:hover,
a:focus {
    color:#03a9f4;
}

/* MAIN and Article style */

main.container {
    font-size: 0;
}

article {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 135px;
    vertical-align: top;
}

article:nth-child(2n) {
    margin-right: 0;
} 

img {
    display: block; 
    max-width: 100%; 
    height: auto;
    margin-bottom: 30px;
}

.p-ubuntu-style {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 17px;
    font-weight: 300;
}

article h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

h2 + p {
    font-size: 14px;
    line-height: 24px;
}

article:nth-child(5),
article:nth-child(6) {
    margin-bottom: 52px;
}

/* Buton style */

div.container {
    text-align: center;
}

button {
    border: 1px solid;
    background: none;
    font-size: 20px;
    padding: 16px 30px;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    margin-bottom: 70px;
}
