body {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.content-center {
    display: inline-block;
    width: 1200px;
}

/* The header and navigation menu */

.menu li {
    display: inline-block;
    padding: 50px;
}

li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
}

a:hover {
    color:#03a9f4;
}

/* Article style */

article {
    display: inline-block;
    width: 420px;
    margin: 30px;
    vertical-align: top;
    line-height: 1.5;
    text-align: left;
}

article img {
    width: 420px;
    height: 280px;
}

.p-ubuntu-style {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
}

h2 {
    color: #626262;
    font-size: 30px;
    font-weight: 500;
}

.covered-image {
    width: 420px;
    height: 280px;
    background-image: url(./../img/lifestyle-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
}

/* Buton style */

.lode-more-button{
    text-align: center;
}

button {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #626262;
    padding: 15px 30px;
}