%base-font-line {
  font-size: 14px;
  line-height: 17px;
}

%15-font-line {
  font-size: 15px;
  line-height: 24px;
}

%30-font-line {
  font-size: 30px;
  line-height: 36px;
}

%trans-animation {
  transition: all 200ms linear 100ms;
}

%list {
  list-style: none;
}

%links {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $white-color;
}