# Ignore-list project files

# Ignore files homework for modules-$
/module-1/*
/module-3/*
/module-4/*
/module-5/*
/module-6/*
/module-7/*
/module-8/*
/module-9/*
/module-10/*

# Ignore Photoshop type file
*.psd

