html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

/* Header and NAVIGATION menu */

/* header.container {
  margin-top: 36px;
} */

.container {
  width: 1110px;
  margin: 0 auto;
}

nav {
  font-size: 0;
}

.site-logo {
  display: inline-block;
  width: 190px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #555252;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 36px 0;
}

.site-logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.site-navigation {
  padding: 0;
  margin: 0;
  width: 920px;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation li:not(:last-child) {
  margin-right: 34px;
}

.site-navigation a {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #0f0101;
  line-height: 11px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}

/*
  height: auto;
  overflow: hidden;

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
*/
  
/* Gallery section */

.line-effect {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  color: #515151;
  text-transform: uppercase;
  line-height: 32px;
  text-align: center;
  padding-top: 4px;
  margin: 58px 0 84px;
}

.line-effect::after {
  content: "";
  display: block;
  height: 48px;
  background-image: url(../img/line.jpg);
  background-repeat: no-repeat;
  background-position: center 80%;
}

.featured {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.features-list {
  width: 255px;
  font-size: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: -0.02em;
  background-color: #e9f0fd;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.features-list:nth-child(4n) {
  margin-right: 0;
}

.features-list h3 {
  font-size: 18px;
  background-color: #323232;
  display: inline-block;
  width: 200px;
  padding-left: 13px;
}

.features-list p::before {
  content: "\0024";
}

.features-list p {
  font-size: 18px;
  display: inline-block;
  width: 55px;
  background-color: #8c8c8c; 
  text-align: center;
}
