html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
  
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* Basic Style for repeating block and ellements */
  
img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.links {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.list {
  list-style: none;
}

input {
  border: none;
}

.bases-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
  width: 300px;
  padding-bottom: 10px;
}

.bases-paragraf {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 24px;
}

/* HEADER and NAVIGATION menu */

.background {
  background-image: url(../img/background/eagle.jpg);
  background-position: center;
  background-size: cover;
  height: 1000px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background {
    background-image: url(../img/background/eagle@2x.jpg);
  }
}

header.container {
  font-family: "Montserrat", sans-serif;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo {
  margin: 0;
}

.site-logo__link {
  text-transform: none;
  font-size: 30px;
  line-height: 36px;
}

.site-navigation {
  width: 620px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-navigation__link {
  font-size: 14px;
  line-height: 17px;
}

.site-navigation__img {
  display: block;
  width: 18px;
  height: 18px;
  fill: #ffffff;
}

.site-navigation__link::after {
  content: "";
  display: block;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

/* HOVER effects for HEADER */

.site-navigation__item:hover .site-navigation__link {
  color: #fce38a;
  -webkit-transition: all 200ms linear 100ms;
  -o-transition: all 200ms linear 100ms;
  transition: all 200ms linear 100ms;
}

.site-navigation__item:hover .site-navigation__img {
  fill: #fce38a;
  -webkit-transition: all 200ms linear 100ms;
  -o-transition: all 200ms linear 100ms;
  transition: all 200ms linear 100ms;
}

.site-navigation__item:hover .site-navigation__link::after {
  border-bottom: 3px solid #fce38a;
  -webkit-transition: all 200ms linear 100ms;
  -o-transition: all 200ms linear 100ms;
  transition: all 200ms linear 100ms;
}

/* BANER style */

.baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special-heading {
  color: #333333;
  text-align: center;
  padding-bottom: 64px;
}

.special-heading--light {
  padding-top: 130px;
  color: #ffffff;
  padding-bottom: 0;
}

.special-heading__kaushan {
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-transform: none;
}

.special-heading__montserrat {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 16px;
  margin: 0 auto;
}

.special-heading__kaushan--light {
  font-size: 72px;
  line-height: 86px;
}

.special-heading__montserrat--light {
  width: 840px;
  font-size: 150px;
  line-height: 140px;
  padding: 38px 0 105px;
  letter-spacing: 0;
}

.baner-button {
  background-color: transparent;
  padding: 10px 28px;
  border: 3px solid #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.baner-button:hover {
  border: 3px solid #fce38a;
  color: #fce38a;
  -webkit-transition: all 200ms linear 100ms;
  -o-transition: all 200ms linear 100ms;
  transition: all 200ms linear 100ms;
}

/* Section AMAZING SERVICES */

section.amazing {
  padding-top: 46px;
  padding-bottom: 50px;
}

.special-heading__montserrat--line::after {
  content: "";
  display: block;
  width: 60px;
  margin: 0 auto;
  padding-top: 34px;
  border-bottom: 3px solid #f38181;
}

/* Info CARDs services */

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 380px;
  height: 110px;
  position: relative;
}

.features__text {
  width: 300px;
}

.features__list:nth-of-type(-n+3) {
  margin-bottom: 58px;
}

.features__img {
  width: 80px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 32px;
}

/* Section TEAM list */

section.team {
  margin-bottom: 78px;
}

.team__text {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 92px;
}

.info-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-transform {
  position: relative;
  background-color: #95e1d3;
  z-index: 1;
  margin-bottom: 30px;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0; left: 0; right: 0; bottom: 0;
  background-image: -webkit-gradient( linear, left top, right top, from(rgba(252,227,138, 0.9)), to(rgba(243,129,129, 0.9)));
  background-image: -o-linear-gradient( left, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%);
  background-image: linear-gradient( 90deg, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-block__item {
  width: 55px;
  height: 55px;
  border-right: 1px solid #f38181;
}

.icon-block__button {
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #fce38a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-block__img {
  width: 25px;
  height: 25px;
  fill: #f38181;
}

.info-team__heading {
  width: 100%;
  text-align: center;
}

.info-team__appointment {
  text-align: center;
  font-style: italic;
}

/* HOVER effects for cards and position */

.img-transform:hover .overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: all 200ms linear 100ms;
  -o-transition: all 200ms linear 100ms;
  transition: all 200ms linear 100ms;
}

.img-transform:hover .info-team__avatar {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: all 200ms linear 100ms;
  -o-transition: all 200ms linear 100ms;
  transition: all 200ms linear 100ms;
}

.icon-block__button:hover {
  background-color: #f38181;
  -webkit-transition: all 200ms linear 100ms;
  -o-transition: all 200ms linear 100ms;
  transition: all 200ms linear 100ms;
}

.icon-block__button:hover .icon-block__img {
  fill: #ffffff;
  -webkit-transition: all 200ms linear 100ms;
  -o-transition: all 200ms linear 100ms;
  transition: all 200ms linear 100ms;
}

/* Site Footer */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  border-top: 1px solid #e5e5e5;
}

.footer__copyrite {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.footer__author {
  color: #f38181;
}

.subscribe-form {
  border: 1px solid #e7e7e7;
}

.subscribe-form__email {
  padding: 10px;
  width: 228px;
  height: 38px;
}

.subscribe-form__email::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  color: #cccccc;
}

.subscribe-form__email::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  color: #cccccc;
}

.subscribe-form__email:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  color: #cccccc;
}

.subscribe-form__email::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  color: #cccccc;
}

.subscribe-form__email::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  color: #cccccc;
}

.subscribe-form__sent {
  width: 144px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #95e1d3;
  color: #ffffff;
  cursor: pointer;
}


